In [5]:
#List of high schools
high_schools = ["Hernandez High School" , "Figueroa High Schooo" , "Wilson High School" , "Wright High School"]

In [6]:
for school in high_schools:
    print (school)

Hernandez High School
Figueroa High Schooo
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
for school_info in high_school_types:
    print(school_info)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [15]:
#list of high schools
high_schools =["Huang High School" , "Figueroa High School" , "Shelton High School" , "Hernandez High School" , "Griffin High School" , "Wilson High School" , "Cabrera High School" , "Bailey High School" , "Holden High School" , "Pena High School" , "Wright High School" , "Rodriguez High School" , "Johnson High School" , "Ford High School" , "Thomas High School"]

In [16]:
import pandas as pd

In [17]:
#create a Pandas Series from list. 
#Pandas Series is a one-dimensional labeled array and can hold any data type
#data is linear and has an index that acts like a key in a dictionary.
#allows you to easily get information from the list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [18]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [19]:
#Pandas DataFrame is a 2-D labeled data structure, a dictionary with rows and columns of potentially different data types
#Pandas DataFrame contains multiple Pandas Series. 
#Each column in the Excel file is a Series. 
#Below is a list of dictionaries with "School ID" , "school_name" , and "type" serving as the keys.
#Keys would be the column headers in an Excel file, value would be the row. 

high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [20]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [33]:
#It is possible to create adding each col as a list or series to an empty DataFrame:

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School" , "Figueroa High School" , "Shelton High School" , "Hernandez High School" , "Griffin High School"]

type_of_school = ["District" , "District" , "Charter" , "District" , "Charter"]

In [34]:
#Initialize an empty DataFrame:

schools_df = pd.DataFrame()

In [35]:
#Populating Empty DataFrame with the lists 2 cells above:

schools_df["School ID"] = school_id

#printing this DataFrame:

schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [36]:
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
#Another way to creat a DataFrame is to create a Python dictionary from the lists
#Then convert to a DataFrame

high_school_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_of_school}

school_df = pd.DataFrame(high_school_dict)

school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

# Looking at the Dataframe above:
- The DataFrame is comprised of these three main elements:

## Columns: 
- the top, or header rows
### Columns Attribute in Pandas:
- df.columns (here it would be school_df.columns) will output a list of the column names.
## Index:
The numbers running down the left-hand margin
### Index Attribute in Pandas:
- df.index (here it would be school_df.index will output RangeIndex that contains the following:
    - first and last value of the index and "step=1', or however often the index increments.
    - Here it would look like this: RangeIndex(start=0, stop=5, step=1)
## Values:
The values in the columns, the data.
### Values Attribute in Pandas:
- df.values (here it would be school_df.values
    - This will output an array of all of the values without the column names.

In [40]:
#skill drill from Module 4.3.5:

school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School" , "Figueroa High School" , "Shelton High School" , "Hernandez High School" , "Griffin High School" , "Wilson High School", "Cabrera High School" , "Bailey High School" , "Holden High School" , "Pena High School" , "Wright High School" , "Ridriguez High School" , "Johnson High School", "Ford High School" , "Thomas High School"]

school_type = ["District" , "District" , "Charter" , "District" , "Charter" , "Charter" , "Charter" , "District" , "Charter" , "Charter" , "Charter", "District" , "District" , "District" , "Charter"]

high_school_d = {"School ID": school_id, "school_name": school_name, "type": school_type}

high_school_df = pd.DataFrame(high_school_d)

high_school_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Ridriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter